.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
}

.cardLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 400px;
  height: 350px;
  background-color: #fff;
  color: black;
  margin-top: 50px;
  border-radius: 15px;
}

.formTitle {
  align-self: flex-start;
  color: #3163ce;
  
}

.inputsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select{
    width: 100%;
    height: 35px;
    padding: 1px 2px;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
}

.inputLogin{
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
}
